data/
stimuli/
.~lock*
*.swp
__pycache__/
InpOutBinaries_1501/
inpout32.h
inpoutx64.dll
inpoutx64.lib
timing_test/
.ipynb_checkpoints/
DLPortIO.txt
InpOutBinaries_1501.zip
MethodsReport.pdf
ReadMe.txt
Win32/
_build/
_config.yml
data_files/
license.txt
newcodes.vmrk
output.pdf
scla_firstsnd.png
soundtesting.csv
temp.png
timing_test/

